@using Five_P.Models;
@model List<Post>
@{
    ViewBag.Title = "AllQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FivePEntities db = new FivePEntities();
}
<style>
    .RutNgan {
        overflow: hidden;
        line-height: 30px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>
<section class="w3l-index-block2 py-5">
    <div class="container py-md-0">
        <div class="row bottom_grids pt-md-0">
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="s-block">
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active " style="text-align:center">
                            Tùy chọn <i class="fas fa-magic"></i>
                        </button>
                        <button type="button" class="list-group-item list-group-item btn btn-outline-success w-100">Thành viên</button>
                        <button type="button" class="list-group-item btn btn-outline-danger w-100">Thẻ</button>
                        <button type="button" class="list-group-item btn btn-outline-default w-100">Các loại câu hỏi</button>
                        <button type="button" class="list-group-item btn btn-outline-warning w-100">Việc làm</button>
                        <button type="button" class="list-group-item btn btn-outline-default w-100" disabled>Vestibulum at eros</button>
                    </div>
                </div>
            </div>
            <!--///////////////////-->
            <div class="col-lg-9 col-md-6 mt-5">
                <div class="s-block">
                    <div class="d-block p-lg-4 p-3">
                        <div class="">
                            <div class="row">
                                <h3 class="text-danger mb-0 col-md-7">Tất cả câu hỏi?</h3>
                                <button type="button" class="btn btn-primary col-md-4">Đặt câu hỏi?</button>
                            </div><br />
                            <div class="row">
                                <div class="blockquote-footer col-md-3">
                                    Có @ViewBag.demCauHoi
                                    <cite title="Source Title">Câu hỏi?</cite>
                                    </>
                                </div>
                                <div class="col-md-9 nav-item dropdown navbar">
                                    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestion" href="@Url.Action("NewQuestion","Home")" class="btn btn-sm btn-info btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Mới</a>
                                    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestion" href="@Url.Action("NoAnswer","Home")" class="btn btn-sm btn-success btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Chưa trả lời</a>
                                    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestion" href="@Url.Action("Answer","Home")" class="btn btn-sm btn-danger btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Trả lời nhiều</a>
                                    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestion" href="@Url.Action("Views","Home")" class="btn btn-sm btn-default btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Lượt xem</a>
                                    <a class="btn btn-sm btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Lọc<i class="fas fa-angle-double-down"></i>
                                    </a>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body row">
                                            <div class="row">
                                                <div class="col-md-6 border-right">
                                                    <div class="mb-3">
                                                        <small class="text-uppercase font-weight-bold">Huy hiệu</small>
                                                    </div><label class="custom-toggle">
                                                        <input type="checkbox">
                                                        <span class="custom-toggle-slider rounded-circle"></span>
                                                    </label>
                                                    <span class="clearfix"></span>
                                                    <label class="custom-toggle">
                                                        <input type="checkbox" checked>
                                                        <span class="custom-toggle-slider rounded-circle"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <small class="text-uppercase font-weight-bold">Checkboxes</small>
                                                    </div>
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input class="custom-control-input" id="customCheck1" type="checkbox">
                                                        <label class="custom-control-label" for="customCheck1">
                                                            <span>Unchecked</span>
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input class="custom-control-input" id="customCheck2" type="checkbox" checked>
                                                        <label class="custom-control-label" for="customCheck2">
                                                            <span>Checked</span>
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input class="custom-control-input" id="customCheck3" type="checkbox" disabled>
                                                        <label class="custom-control-label" for="customCheck3">
                                                            <span>Disabled Unchecked</span>
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input class="custom-control-input" id="customCheck4" type="checkbox" checked disabled>
                                                        <label class="custom-control-label" for="customCheck4">
                                                            <span>Disabled Checked</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <a class="badge badge-pill badge-primary text-uppercase w-100" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                    <i class="fas fa-angle-double-up"></i><i class="fas fa-angle-double-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            @foreach (var item in Model)
                            {
                                <div class="s-block" id="AllQuestion">
                                    <div class="d-block p-lg-4 p-3">
                                        <div class="row">
                                            <div class="col-md-3 border-right">
                                                <div class="row">
                                                    <p>150 <i class="fab fa-galactic-senate" style="font-size:25px"></i> Đề xuất</p>
                                                </div>
                                                <div class="row">
                                                    @{
                                                        List<Reply_Post> ReplyPost = db.Reply_Post.Where(n => n.post_id == item.post_id).ToList();
                                                        int intDemReplyPost = ReplyPost.Count();
                                                    }
                                                    <p class="mt-3">@intDemReplyPost <i class="fas fa-lightbulb"></i> Đáp án</p>
                                                </div>
                                                <div class="row">
                                                    <p>@item.post_view <i class="fas fa-eye"></i> Lượt xem</p>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="">
                                                    <p><i class="fab fa-jedi-order" style="color:#f5ed0c;font-size:30px"></i> @item.post_popular Điểm danh tiếng của bài viết.</p>
                                                </div>
                                                <div class="h-auto">
                                                    <a href="@Url.Action("DetailQuestion","Home", new { idpost = item.post_id})"><u>@item.post_title</u></a>
                                                </div>
                                                <div class="h-auto">
                                                    <p class="RutNgan">@item.post_content</p>
                                                </div>
                                                <hr />
                                                <div class="row h-auto">
                                                    <div class="col-md-6">
                                                        <span>@item.Technology.technology_name </span>
                                                    </div>
                                                    <div class="col-md-6" style="">
                                                        <span style="float:right">Ngày đăng : @item.post_datecreated.Value.Day / @item.post_datecreated.Value.Month / @item.post_datecreated.Value.Year</span>
                                                    </div>
                                                </div>
                                                <div class="row mb--2">
                                                    <div class="col-md-6"></div>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <a href="@Url.Action("UserPage","Account",new { idUser = item.user_id})">
                                                                <img style="float:right" src="~/Content/LayoutNguoiDung/ImgUser/@item.User.user_img" alt="" class="w-50 h-50" />

                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p style="float:right"><a href="@Url.Action("UserPage","Account",new { idUser = item.user_id})">@item.User.user_nicename</a> &nbsp;<i class="fab fa-galactic-senate" style="color:red;font-size:28px"></i> 5 | <i class="fas fa-medal" style="color:yellow"></i> 5| <i class="fas fa-medal" style="color:silver"></i> 5 | <i class="fas fa-medal" style="color:#e88d15"></i> 5|</p>
                                                </div>
                                                @{
                                                    List<Technology_Care> listTechnologyCare = db.Technology_Care.Where(n => n.user_id == item.user_id).ToList();
                                                }
                                            <div class="row w-100">
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6 mt--2">
                                                    @foreach (var item2 in listTechnologyCare)
                                                    {
                                                    <span class="float-right">&nbsp; @item2.Technology.technology_name&nbsp; | </span>
                                                    }
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <span><a href="https://www.facebook.com/sharer.php?u=https://localhost:44345/Home/DetailQuestion?idpost=@item.post_id"><i class="fas fa-share"></i> Chia sẽ <i class="fab fa-facebook" style="color:#4ba0d1"></i></a></span>
                                    </div>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>