@using Five_P.Models;
@model List<Post>
@{
    User user = (User)Session["user"];
    ViewBag.Title = "AllQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FivePEntities db = new FivePEntities();
}
<style>
    .RutNgan {
        overflow: hidden;
        line-height: 30px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>
<section class="w3l-index-block2 py-5">
    <div class="container py-md-0">
        <div class="row bottom_grids pt-md-0">
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="s-block">
                    <div class="list-group">
                        <h7 class="bg-warning list-group-item list-group-item-action " style="text-align:center;color:white">
                            Tùy chọn <i class="fas fa-magic"></i>
                        </h7>
                        <button type="button" class="list-group-item list-group-item btn btn-outline-warning w-100">Thành viên</button>
                        <button type="button" class="list-group-item btn btn-outline-warning w-100">Thẻ</button>
                        <button type="button" class="list-group-item btn btn-outline-warning w-100">Các loại câu hỏi</button>
                        <button type="button" class="list-group-item btn btn-outline-warning w-100">Việc làm</button>                    
                    </div>
                </div>
            </div>
            <!--///////////////////-->
            <div class="col-lg-9 col-md-6 mt-5">
                <div class="s-block">
                    <div class="d-block p-lg-4 p-3">
                        <div class="">
                            <div class="row">
                                <h3 class="mb-0 col-md-7" style="font-weight:600">Tất cả câu hỏi?</h3>
                                <a href="@Url.Action("Post","Post")" class="btn btn-warning col-md-4">Đặt câu hỏi?</a>
                            </div><br />
                            <div class="row">
                                <div class="blockquote-footer col-md-3">
                                    Có @ViewBag.demCauHoi
                                    <cite title="Source Title">Câu hỏi?</cite>
                                    </>
                                </div>
                                <div class="col-md-9 nav-item dropdown navbar">
                                    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestion" href="@Url.Action("NewQuestion","Home")" class="btn btn-sm btn-default btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Mới</a>
                                    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestion" href="@Url.Action("NoAnswer","Home")" class="btn btn-sm btn-default btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Chưa trả lời</a>
                                    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestion" href="@Url.Action("Answer","Home")" class="btn btn-sm btn-default btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Trả lời nhiều</a>
                                    <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestion" href="@Url.Action("Views","Home")" class="btn btn-sm btn-default btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Lượt xem</a>
                                    <a class="btn btn-sm btn-outline-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Lọc<i class="fas fa-angle-double-down"></i>
                                    </a>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            <div class="row">
                                                <div class="col-md-6 border-right">
                                                    <h6 class="mb-0">Điểm danh tiếng bài viết</h6>
                                                    <h6 class="mb-0">Người dùng nổi tiếng</h6>
                                                    <h6 class="mb-0">Huy chương</h6>
                                                    <h6 class="mb-0">Tiền thưởng</h6>
                                                </div>
                                                <div class="col-md-3">
                                                    <h6 class="mb-0">C#</h6>
                                                    <h6 class="mb-0">C++</h6>
                                                    <h6 class="mb-0">SQL</h6>
                                                </div>
                                                <div class="col-md-3">
                                                    <h6 class="mb-0">Java</h6>
                                                    <h6 class="mb-0">PHP</h6>
                                                    <h6 class="mb-0">Javascrip</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @foreach (var item in Model)
                            {
                                <div class="s-block" id="AllQuestion">
                                    <div class="d-block p-lg-4 p-3">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="row border border-bottom-0">
                                                    <p style="font-weight:600"><i class="fab fa-galactic-senate" style="font-size:25px"></i> @item.post_popular Đề xuất</p>
                                                </div>
                                                <div class="row border-left border-right">
                                                    @{
                                                        List<Reply_Post> ReplyPost = db.Reply_Post.Where(n => n.post_id == item.post_id).ToList();
                                                        int intDemReplyPost = ReplyPost.Count();
                                                    }
                                                    <p class="mt-3" style="font-weight:600;">&nbsp;<i class="fas fa-lightbulb"></i> &nbsp; @intDemReplyPost Đáp án</p>
                                                </div>
                                                <div class="row border border-top-0">
                                                    <p style="font-weight:600"><i class="fas fa-eye"></i> @item.post_view Lượt xem</p>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="">
                                                    <p><i class="fab fa-jedi-order" style="color:yellow;font-size:30px"></i> @item.post_popular Điểm danh tiếng của bài viết.</p>
                                                </div>
                                                <div class="h-auto">
                                                    <a href="@Url.Action("DetailQuestion","Home", new { idpost = item.post_id})">
                                                        <u class="text-default" style="font-weight:600">
                                                            @Html.Raw(item.post_title)
                                                        </u>
                                                    </a>
                                                </div>
                                                <div class="h-auto">
                                                    <p class="RutNgan">@Html.Raw(item.post_content)</p>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @{ 
                                                            List<Technology_Post> technology_Posts = db.Technology_Post.Where(n => n.post_id == item.post_id).ToList();
                                                        }
                                                        <span>@foreach (var itemTechnologyPost in technology_Posts) { @itemTechnologyPost.Technology.technology_name} </span>
                                                    </div>
                                                    <div class="col-md-8" style="background-color:#fafafa">
                                                        <div>
                                                            <a href="@Url.Action("UserPage","Account",new { idUser = item.user_id})">
                                                                <img style="float:right" src="~/Content/LayoutNguoiDung/ImgUser/@item.User.user_img" alt="" class="w-25 h-25" />
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <p style="float:right;"><a href="@Url.Action("UserPage","Account",new { idUser = item.user_id})" style="color: #6c757d;">@item.User.user_nicename</a> &nbsp;<i class="fab fa-galactic-senate" style="color:orangered;font-size:28px"></i> @item.User.user_vip_medal | <i class="fas fa-medal" style="color:yellow"></i> @item.User.user_gold_medal| <i class="fas fa-medal" style="color:silver"></i> @item.User.user_silver_medal | <i class="fas fa-medal" style="color:#e88d15"></i> @item.User.user_bronze_medal|</p>
                                                        </div>
                                                        @{
                                                            List<Technology_Care> listTechnologyCare = db.Technology_Care.Where(n => n.user_id == item.user_id).ToList();
                                                        }
                                                        <div>
                                                            @foreach (var item2 in listTechnologyCare)
                                                            {
                                                                <span class="float-right">&nbsp; @item2.Technology.technology_name&nbsp; | </span>
                                                            }
                                                        </div>
                                                        <div>
                                                            <span style="float:right">Ngày đăng : @item.post_datecreated.Value.Day / @item.post_datecreated.Value.Month / @item.post_datecreated.Value.Year</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span><a href="https://www.facebook.com/sharer.php?u=https://localhost:44345/Home/DetailQuestion?idpost=@item.post_id"><i class="fas fa-share"></i> Chia sẽ <i class="fab fa-facebook" style="color:#4ba0d1"></i></a></span>
                                    </div>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $("#txtsearch").on("keyup", function () {
        var txtenter = $(this).val();
        $("table tr").each(function (results) {
            if (results !== 0) {
                var id = $(this).find("td:nth-child(1)").text();
                if (id.indexOf(txtenter) !== 0 && id.toLowerCase().indexOf(txtenter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>