@using Five_P.Models;
@model Post
@{
    User user = (User)Session["user"];
    FivePEntities db = new FivePEntities();
    var varColorOrange = "orange";
    var varColorMain = "#5e72e4";
    ViewBag.Title = "DetailQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .changSizeButtonRatePost .w-25:hover{
        width: 28% !important;
        transition-duration:0.2s;
    }
</style>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<section class="w3l-index-block2 py-5">
    <div class="container py-md-0">
        <div class="row bottom_grids pt-md-0">
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="s-block">
                    <div class="list-group">
                        <h7 class="list-group-item list-group-item-action active " style="text-align:center">
                            Tùy chọn <i class="fas fa-magic"></i>
                        </h7>
                        <a href="/" class="list-group-item list-group-item btn btn-outline-success w-100">Thành viên</></a>
                        <a href="#" class="list-group-item btn btn-outline-danger w-100">Top thành viên</a>
                        <a href="#" class="list-group-item btn btn-outline-default w-100">Các loại câu hỏi</a>
                        <a href="#" class="list-group-item btn btn-outline-warning w-100">Việc làm</a>
                    </div>
                </div>
            </div>
            <!--///////////////////-->
            <div class="col-lg-9 col-md-6 mt-5">
                <div class="s-block">
                    <div class="d-block p-lg-4 p-3">
                        <div class="">
                            <div class="row">
                                <h3 class="text-blue mb-0">@Model.post_title</h3>
                            </div><br />
                            <div class="row">
                                <div class="blockquote-footer col-md-3">
                                    @Model.post_sum_reply
                                    <cite title="Source Title">Câu trả lời <i class="ni ni-air-baloon" style="color:gold"></i></cite>
                                    </>
                                </div>
                                <div class="blockquote-footer col-md-9 ">
                                    <cite title="Source Title">Đăng tải <i class="ni ni-calendar-grid-58"></i> @Model.post_datecreated.Value.Day / @Model.post_datecreated.Value.Month/ @Model.post_datecreated.Value.Year </cite>
                                    <cite title="Source Title">&nbsp;|&nbsp;&nbsp; @Model.post_view Lượt xem <i class="fas fa-eye"></i></cite>
                                    <cite title="Source Title">&nbsp;|&nbsp;&nbsp; @Model.post_sum_comment Lượt bình luận <i class="fas fa-comments"></i> |</cite>

                                </div>
                            </div><br />
                            <div class="s-block">
                                <div href="#" class="d-block p-lg-4 p-2">
                                    <div class="row form-control h-auto mt--1 alert alert-secondary" role="alert" style="color:black">
                                        Tiền <a href="#"><b class="text-danger mb-0">thưởng</b></a> sẽ hết hạn sau 6 phút . Các câu trả lời cho câu hỏi này đủ điều kiện nhận được <b class="btn btn-sm btn-default">+@Model.post_fame</b> danh tiếng. <a href="@Url.Action("UserPage","Account", new { idUser = Model.user_id})"><u class="text-success">@Model.User.user_nicename</u></a> muốn thu hút sự chú ý nhiều hơn đến câu hỏi này.
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-3 border-right">
                                            <div class="row">
                                                <!--Kiểm tra nút phía trên của chi tiết bài viết-->
                                                @if (user == null)
                                                {
                                                    <button class="btn btn-link" data-toggle="modal" data-target="#modal-notification"><i class="far fa-caret-square-up w-25 h-25"></i></button>
                                                }
                                                else
                                                {
                                                    Rate_Post checkUserRatePost = db.Rate_Post.Where(n => n.post_id == Model.post_id && n.user_id == user.user_id && n.rate_post1 == true).FirstOrDefault();
                                                    <form id="formRatePostT" class="changSizeButtonRatePost">
                                                        <input type="hidden" name="post_id" value="@Model.post_id" />
                                                        <button type="button" id="btnRatePostT" onclick="btnButtonChangeRatePost()" class="btn btn-link"><i id="RatePostT" style="color:@if (checkUserRatePost != null) { @varColorOrange } else { @varColorMain }" class="far fa-caret-square-up w-25 h-25"></i></button>
                                                    </form>
                                                }

                                                @{
                                                    List<Rate_Post> listRatePostT = db.Rate_Post.Where(n => n.post_id == Model.post_id && n.rate_post1 == true).ToList();
                                                    List<Rate_Post> listRatePostF = db.Rate_Post.Where(n => n.post_id == Model.post_id && n.rate_post1 == false).ToList();
                                                    int intCoutT = listRatePostT.Count();
                                                    int intCoutF = listRatePostF.Count();
                                                    int intDivided = intCoutT - intCoutF;
                                                }
                                                <div class="w-100" style="text-align:center;"><p style="color: #ff0090;font-size: 200%" id="coutRatePost">@intDivided</p></div>
                                                @if (user == null)
                                                {
                                                    <button class="btn btn-link" data-toggle="modal" data-target="#modal-notification"><i class="far fa-caret-square-down w-25 h-25"></i></button>
                                                }
                                                else
                                                {
                                                    Rate_Post checkUserRatePost = db.Rate_Post.Where(n => n.post_id == Model.post_id && n.user_id == user.user_id && n.rate_post1 == false).FirstOrDefault();
                                                    <form id="formRatePostF" class="changSizeButtonRatePost">
                                                        <input type="hidden" name="post_id" value="@Model.post_id" />
                                                        <button onclick="btnButtonChangeRatePostF()" type="button" id="btnRatePostF" class="btn btn-link"><i id="RatePostF" style="color:@if (checkUserRatePost != null) {@varColorOrange } else { @varColorMain}" class="far fa-caret-square-down w-25 h-25"></i></button>
                                                    </form>
                                                }
                                            </div>
                                            <div class="text-center mb-2">
                                                <!--Đánh dấu bài viết-->
                                                <center>
                                                    @{
                                                        if (user == null)
                                                        {
                                                            <button class="btn btn-link" data-toggle="modal" data-target="#modal-notification"><i class="far fa-bookmark" style="width:20%; height:20%"></i></button>
                                                        }
                                                        else
                                                        {
                                                            Tick_Post checkUserTickPost = db.Tick_Post.Where(n => n.post_id == Model.post_id && n.user_id == user.user_id).FirstOrDefault();
                                                            <form id="formTickPost@{@Model.post_id}" class="changSizeButtonRatePost">
                                                                <input type="hidden" name="post_id" value="@Model.post_id" />
                                                                <button onclick="btnButtonChangeTickPost()" id="btnTickPost@{@Model.post_id}" type="button" class="btn btn-link"><i id="TickPost" class="far fa-bookmark w-25 h-25" style="color:@if (checkUserTickPost != null) {@varColorOrange } else { @varColorMain}"></i></button>
                                                            </form>
                                                        }
                                                    }
                                                </center>
                                                <!--đánh giấu câu hỏi này quan trọng-->
                                                <!--Model thông báo-->
                                                <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                                                    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                                        <div class="modal-content bg-gradient-danger">
                                                            <div class="modal-header">
                                                                <h6 class="modal-title" id="modal-title-notification">Thông báo đến bạn!!</h6>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="py-3 text-center">
                                                                    <i class="ni ni-bell-55 ni-3x"></i>
                                                                    <h4 class="heading mt-4">Đăng nhập để thực hiện chức năng này.</h4>
                                                                    <p>Five-P cảm ơn!</p>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="@Url.Action("Index","Home")" onclick="TakeSessionLogin()" class="btn btn-white">Đăng nhập</a>
                                                                <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Đóng</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center" style="color:#fc45ff">
                                                <!--hoạt động bài viết-->
                                                @{
                                                    if (user == null)
                                                    {
                                                        <button class="btn btn-link" data-toggle="modal" data-target="#modal-notification"><i style="width:20%; height:20%" class="fas fa-history"></i></button>
                                                    }
                                                    else
                                                    {
                                                        Show_Activate_Post showActivatePost = db.Show_Activate_Post.FirstOrDefault(n => n.post_id == Model.post_id && n.user_id == user.user_id);
                                                        <form id="formShowActivatePost@{@Model.post_id}" class="changSizeButtonRatePost">
                                                            <input  type="hidden" name="post_id" value="@Model.post_id"/>
                                                            <button onclick="btnButtonChangeShowActivatePost()" id="btnShowActivatePost@{@Model.post_id}" type="button" class="btn btn-link"><i style="color:@if (showActivatePost != null) {@varColorOrange } else { @varColorMain}" id="ShowActivatePost" class="fas fa-history w-25 h-25"></i></button>
                                                        </form>
                                                    }
                                                }
                                                <!--hien thị hoạt động bài viết này-->
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="h-auto">
                                                <p>@Model.post_title</p>
                                            </div>
                                            <div class="h-auto">
                                                <p>@Model.post_content</p>
                                            </div>
                                            <div class="row h-auto">
                                                <div class="col-md-7">
                                                    <span>@Model.Technology.technology_name </span>
                                                </div>
                                                <div class="col-md-5" style="">
                                                    <span style="float:right">Hỏi ngày @Model.post_datecreated.Value.Day / @Model.post_datecreated.Value.Month / @Model.post_datecreated.Value.Year</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6" style="">
                                                    <a href="@Url.Action("UserPage","Account",new { idUser = Model.user_id})">
                                                        <img src="~/Content/UI/img/faces/@Model.post_img" alt="Rounded image" class="img-fluid rounded shadow" style="width: 50px;">
                                                        <span style="float:right">
                                                            @Model.User.user_nicename
                                                        </span>
                                                    </a>
                                                    <div>Huy hiệu <i class="fas fa-medal" style="color:yellow"></i> 5</div>
                                                    <div>Huy hiệu <i class="fas fa-medal" style="color:silver"></i> 5</div>
                                                    <div>Huy hiệu <i class="fas fa-medal" style="color:#e88d15"></i> 5</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @{
                                        List<Reply_Post> listReplyPost = db.Reply_Post.Where(n => n.post_id == Model.post_id).ToList();
                                        int intSumReplyPost = listReplyPost.Count();
                                    }
                                    <p>Có @intSumReplyPost câu trả lời <i class="ni ni-air-baloon" style="color:gold"></i></p>
                                    <i class="fas fa-angle-double-down"></i>
                                </div>
                            </div>
                            @Html.Action("ReplyPost", "Home", new { intPostId = Model.post_id, intUserId = Model.user_id })
                        </div>
                        <a class="navbar-brand mt--2" href="/" style="color:#f5365c;float:right"><span class="far fa-gem"></span>Five-P</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#btnRatePostT").click(function () {
            var data = $("#formRatePostT").serialize();
            $.ajax({
                type: "POST",
                url: "/Home/RatePostT",
                data: data,
                success: function (response) {
                    window.alert("Sữa thành công");
                    $(this).show();
                }
            })
        })
    })
    $(document).ready(function () {
        $("#btnRatePostF").click(function () {
            var data = $("#formRatePostF").serialize();
            $.ajax({
                type: "POST",
                url: "/Home/RatePostF",
                data: data,
                success: function (response) {
                    window.alert("Sữa thành công");
                    $(this).show();
                }
            })
        })
    })
    //đổi màu các nút vow
    function btnButtonChangeRatePost() {
        if (document.getElementById("RatePostF").style.color == 'orange')
        {
            document.getElementById("coutRatePost").innerText = Number(document.getElementById("coutRatePost").innerText) + 2;
            document.getElementById("RatePostT").style.color = "orange";
            document.getElementById("RatePostF").style.color = "#5e72e4";
        }
        else if (document.getElementById("RatePostT").style.color == 'orange')
        {
            document.getElementById("coutRatePost").innerText = Number(document.getElementById("coutRatePost").innerText) - 1;
            document.getElementById("RatePostT").style.color = "#5e72e4";
        }
        else
        {
            document.getElementById("coutRatePost").innerText = Number(document.getElementById("coutRatePost").innerText)+1;
            document.getElementById("RatePostT").style.color = "orange";
        }
    }
    function btnButtonChangeRatePostF() {
        if (document.getElementById("RatePostT").style.color == 'orange')
        {
            document.getElementById("coutRatePost").innerText = Number(document.getElementById("coutRatePost").innerText) - 2;
            document.getElementById("RatePostF").style.color = "orange";
            document.getElementById("RatePostT").style.color = "#5e72e4";
        }
        else if (document.getElementById("RatePostF").style.color == 'orange')
        {
            document.getElementById("coutRatePost").innerText = Number(document.getElementById("coutRatePost").innerText) + 1;
            document.getElementById("RatePostF").style.color = "#5e72e4";
        }
        else
        {
            document.getElementById("coutRatePost").innerText = Number(document.getElementById("coutRatePost").innerText) - 1;
            document.getElementById("RatePostF").style.color = "orange";
        }
    }
    //check nút đánh dấu bài viết tick_post
    $(document).ready(function () {
        $("#btnTickPost@{@Model.post_id}").click(function () {
            var data = $("#formTickPost@{@Model.post_id}").serialize();
            $.ajax({
                type: "POST",
                url: "/Home/SaveTickPost",
                data: data,
                success: function (response) {
                    window.alert("Sữa thành công");
                    $(this).show();
                }
            })
        })
    })
    //Đổi màu nút đó
    function btnButtonChangeTickPost() {
        if (document.getElementById("TickPost").style.color == 'orange') {
            document.getElementById("TickPost").style.color = '#5e72e4';
        }
        else {
            document.getElementById("TickPost").style.color = 'orange';
        }
    }
    //Hiển thị hoạt động của bài viết đó
    $(document).ready(function () {
        $("#btnShowActivatePost@{@Model.post_id}").click(function () {
            var data = $("#formShowActivatePost@{@Model.post_id}").serialize();
            $.ajax({
                type: "POST",
                url: "/Home/SaveShowActivatePost",
                data: data,
                success: function (response) {
                    window.alert("Sữa thành công");
                    $(this).show();
                }
            })
        })
    })
    function btnButtonChangeShowActivatePost() {
        if (document.getElementById("ShowActivatePost").style.color == "orange") {
            document.getElementById("ShowActivatePost").style.color = "#5e72e4";
        }
        else {
            document.getElementById("ShowActivatePost").style.color = "orange";
        }
    }
    //lấy session của login
    function TakeSessionLogin() {
        @{Session["NotLogin"] = "<i>&nbsp; Nhập tài khoản mật khẩu</i>";};
    }
</script>

