@using Five_P.Models;
@model List<Reply_Post>
@{
    User user = (User)Session["user"];
    FivePEntities db = new FivePEntities();
    var varColorOrange = "orange";
    var varColorMain = "#5e72e4";
    var varFriend = "Nhắn tin";
    var varAddFriend = "Kết bạn";
    var varFinishFriend = "Đã gửi kết bạn";
}

@foreach (var item in Model)
{
    <br />
    <div class="s-block">
        <div class="d-block p-lg-4 p-2">
            <div class="row mt-2">
                <div class="col-md-3 border-right">
                    <div class="row">
                        @{
                            List<Rate_Reply_Post> listRateReplyPost_T = db.Rate_Reply_Post.Where(n => n.reply_post_id == item.reply_post_id && n.rate_reply_post1 == true).ToList();
                            List<Rate_Reply_Post> listRateReplyPost_F = db.Rate_Reply_Post.Where(n => n.reply_post_id == item.reply_post_id && n.rate_reply_post1 == false).ToList();
                            int intCoutT = listRateReplyPost_T.Count();
                            int intCoutF = listRateReplyPost_F.Count();
                            int intDivided = intCoutT - intCoutF;
                        }
                        <!--Kiểm tra nút vow-->
                        @if (user == null)
                        {
                            <button data-toggle="modal" data-target="#modal-notification" class="btn btn-link"><i class="far fa-caret-square-up w-25 h-25"></i></button>
                            <div class="w-100 text-center"><p style="font-size:200%;color:#ff0090">@intDivided</p></div>
                            <button data-toggle="modal" data-target="#modal-notification" class="btn btn-link"><i class="far fa-caret-square-down w-25 h-25"></i></button>
                        }
                        else
                        {
                            Rate_Reply_Post checkUserRateReplyPostT = db.Rate_Reply_Post.Where(n => n.reply_post_id == item.reply_post_id && n.user_id == user.user_id && n.rate_reply_post1 == true).FirstOrDefault();
                            <form id="formRateReplyPostT@{@item.reply_post_id}" class="changSizeButtonRatePost">
                                <input type="hidden" name="reply_post_id" value="@item.reply_post_id" />
                                <button onclick="btnButtonChangeRateReplyPostT@{@item.reply_post_id}()" type="button" id="btnRateReplyPostT@{@item.reply_post_id}" class="btn btn-link"><i style="color:@if (checkUserRateReplyPostT != null) { @varColorOrange} else { @varColorMain}" id="RateReplyPostT@{@item.reply_post_id}" class="far fa-caret-square-up w-25 h-25"></i></button>
                            </form>
                            //vow trên
                            <div class="w-100 text-center"><p style="font-size:200%;color:#ff0090" id="coutRateReplyPost@{@item.reply_post_id}">@intDivided</p></div>
                            //vow dưới
                            Rate_Reply_Post checkUserRateReplyPostF = db.Rate_Reply_Post.Where(n => n.reply_post_id == item.reply_post_id && n.user_id == user.user_id && n.rate_reply_post1 == false).FirstOrDefault();
                            <form id="formRateReplyPostF@{@item.reply_post_id}" class="changSizeButtonRatePost">
                                <input type="hidden" name="reply_post_id" value="@item.reply_post_id" />
                                <button onclick="btnButtonChangeRateReplyPostF@{@item.reply_post_id}()" type="button" id="btnRateReplyPostF@{@item.reply_post_id}" class="btn btn-link"><i style="color:@if (checkUserRateReplyPostF != null) { @varColorOrange} else { @varColorMain}" id="RateReplyPostF@{@item.reply_post_id}" class="far fa-caret-square-down w-25 h-25"></i></button>
                            </form>
                            }
                    </div>
                    <div class="" style="color:#fc45ff;text-align:center">
                        @if (user == null)
                        {
                            <button class="btn btn-link" data-toggle="modal" data-target="#modal-notification"><i class="fas fa-history" style="width:12%;height:12%"></i></button>
                        }
                        else
                        {
                            Show_Activate_Reply_Post showActivateReplyPost = db.Show_Activate_Reply_Post.Where(n => n.reply_post_id == item.reply_post_id && n.user_id == user.user_id).FirstOrDefault();
                            <form id="formShowActivateReplyPost@{@item.reply_post_id}" class="changSizeButtonRatePost">
                                <input type="hidden" name="reply_post_id" value="@item.reply_post_id" />
                                <button onclick="btnChangeShowActivateReplyPost@{@item.reply_post_id}()" type="button" id="btnButtonChangeActivateReplyPost@{@item.reply_post_id}" class="btn btn-link"><i style="color:@if (showActivateReplyPost != null) { @varColorOrange} else { @varColorMain}" id="ShowActivateReplyPost@{@item.reply_post_id}" class="fas fa-history w-25 h-25"></i></button>
                            </form>
    }
                        <!--hien thị hoạt động bài viết này-->
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row h-auto">
                        <p>@item.reply_post_title</p>
                    </div>
                    <div class="row h-auto">
                        <p>@Html.Raw(item.reply_post_content)</p>
                    </div>
                    <div class="row h-auto">
                        <div class="col-md-7">
                            <p>Danh tiếng @item.User.user_popular</p>
                        </div>
                        <div class="col-md-5" style="">
                            <span style="float:right">Ngày @item.reply_post_datecreated.Value.Day / @item.reply_post_datecreated.Value.Month / @item.reply_post_datecreated.Value.Year</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6" style="">
                            <img src="~/Content/UI/img/faces/@item.User.user_img" alt="Rounded image" class="img-fluid rounded shadow" style="width: 50px;">
                            <span style="float:right">@item.User.user_nicename</span>
                            @{
                                if (user == null)
                                {
                                    // còn kiểm tra đó là mình thì không được kết bạn
                                    <div><a href="@Url.Action("Index", "Home")">Đăng nhập kết bạn</a></div>
                                        }
                                        else
                                        {
                                            Friend sfriend = db.Friends.Where(n => n.user_id == user.user_id || n.user_friend_id == item.user_id && n.user_id == item.user_id || n.user_friend_id == user.user_id).FirstOrDefault();
                                            if (sfriend == null)
                                            {
                                        <form id="formAddFriend@{@item.reply_post_id}">
                                            <input type="hidden" name="user_friend_id" value="@item.user_id" />
                                            <button onclick="BtnChangeValueAddFriend@{@item.reply_post_id}()" id="btnAddFriend@{@item.reply_post_id}" type="button" class="btn btn-sm btn-primary">@varAddFriend</button>
                                        </form>
                                            }
                                            else if (sfriend.friend_status == true)
                                            {
                                                <button  id="" type="button" class="btn btn-sm btn-primary">@varFriend</button>
                                            }
                                            else if (sfriend.friend_status == false) 
                                            { 
                                                <form id="formAddFriend@{@item.reply_post_id}">
                                                    <input type="hidden" name="user_friend_id" value="@item.user_id" />
                                                    <button onclick="BtnChangeValueAddFriend@{@item.reply_post_id}()" id="btnAddFriend@{@item.reply_post_id}" type="button" class="btn btn-sm btn-primary">@varFinishFriend</button>
                                                </form>
                                            }
                                        }
                            }
                            <div>Huy hiệu <i class="fas fa-medal" style="color:yellow"></i> 5</div>
                            <div>Huy hiệu <i class="fas fa-medal" style="color:silver"></i> 5</div>
                            <div>Huy hiệu <i class="fas fa-medal" style="color:#e88d15"></i> 5</div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="badge badge-pill badge-info text-uppercase" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="@item.post_id">
                Bình luận <i class="fas fa-angle-double-down"></i>
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div id="showComment@{@item.reply_post_id}">
                        @Html.Action("Comment", "CommentReplyPost", new { idReplyPost = item.reply_post_id })
                    </div>
                    <form id="formComment@{@item.reply_post_id}">
                        <input type="hidden" name="reply_post_id" value="@item.reply_post_id" />
                        <input type="hidden" id="user_nicename@{@item.reply_post_id}" value="@if (user != null) { @user.user_nicename}" />
                        <input type="hidden" id="date_created@{@item.reply_post_id}" value="@DateTime.Now" />
                        <textarea name="comment_content" id="contentReplyPost@{@item.reply_post_id}" class="w-100"></textarea>
                        <!--Comment-->
                        @if (user == null)
                        {
                            <button type="button" class="btn btn-block btn-warning mb-3" data-toggle="modal" data-target="#modal-notification">Bình luận</button>
                        }
                        else
                        {
                            <button id="btnComment@{@item.reply_post_id}" type="reset" class="btn btn-block btn-warning mb-3">Bình luận <i class="fas fa-comments"></i></button>
    }
                    </form>
                    <a class="badge badge-pill badge-info text-uppercas" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-angle-double-up"></i><i class="fas fa-angle-double-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //nút vow trả lời bài viết
        $(document).ready(function () {
            $("#btnRateReplyPostT@{@item.reply_post_id}").click(function () {
                                    var data = $("#formRateReplyPostT@{@item.reply_post_id}").serialize();
                $.ajax({
                                    type: "POST",
                    url: "/Home/RateReplyPostT",
                    data: data,
                    success: function (response) {
                                            window.alert("Sữa thành công");
                        $(this).show();
                                        }
                                    })
            })
        })
        $(document).ready(function () {
            $("#btnRateReplyPostF@{@item.reply_post_id}").click(function () {
                                    var data = $("#formRateReplyPostF@{@item.reply_post_id}").serialize();
                $.ajax({
                                    type: "POST",
                    url: "/Home/RateReplyPostF",
                    data: data,
                    success: function (response) {
                                            window.alert("Sữa thành công");
                        $(this).show();
                                        }
                                    })
            })
        })
        //đổi màu các nút vow
        function btnButtonChangeRateReplyPostT@{@item.reply_post_id}()
        {
                if (document.getElementById("RateReplyPostF@{@item.reply_post_id}").style.color == 'orange')
                {
                    document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText = Number(document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText) + 2;
                    document.getElementById("RateReplyPostT@{@item.reply_post_id}").style.color = "orange";
                    document.getElementById("RateReplyPostF@{@item.reply_post_id}").style.color = "#5e72e4";
                }
                else if (document.getElementById("RateReplyPostT@{@item.reply_post_id}").style.color == 'orange')
                {
                    document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText = Number(document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText) - 1;
                    document.getElementById("RateReplyPostT@{@item.reply_post_id}").style.color = "#5e72e4";
                }
                else {
                    document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText = Number(document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText) + 1;
                    document.getElementById("RateReplyPostT@{@item.reply_post_id}").style.color = "orange";
                }
            }
            function btnButtonChangeRateReplyPostF@{@item.reply_post_id}()
            {
                if (document.getElementById("RateReplyPostT@{@item.reply_post_id}").style.color == 'orange') {
                    document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText = Number(document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText) - 2;
                    document.getElementById("RateReplyPostF@{@item.reply_post_id}").style.color = "orange";
                    document.getElementById("RateReplyPostT@{@item.reply_post_id}").style.color = "#5e72e4";
                }
                else if (document.getElementById("RateReplyPostF@{@item.reply_post_id}").style.color == 'orange') {
                    document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText = Number(document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText) + 1;
                    document.getElementById("RateReplyPostF@{@item.reply_post_id}").style.color = "#5e72e4";
                }
                else {
                    document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText = Number(document.getElementById("coutRateReplyPost@{@item.reply_post_id}").innerText) - 1;
                    document.getElementById("RateReplyPostF@{@item.reply_post_id}").style.color = "orange";
                }
        }
        //Save hiển thị hoạt động của bài viết (show activate reply post)
        $(document).ready(function () {
            $("#btnButtonChangeActivateReplyPost@{@item.reply_post_id}").click(function () {
                var data = $("#formShowActivateReplyPost@{@item.reply_post_id}").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Home/ShowActivateReplyPost",
                    data: data,
                    success: function (response) {
                        window.alert("Sữa thành công");
                        $(this).show();
                    }
                })
            })
        })
        //Đổi màu cho nút hiển thị hoạt động trả lời bài viết (show activate reply post)
        function btnChangeShowActivateReplyPost@{@item.reply_post_id}()
        {
            if (document.getElementById("ShowActivateReplyPost@{@item.reply_post_id}").style.color == "orange")
            {
                document.getElementById("ShowActivateReplyPost@{@item.reply_post_id}").style.color = "#5e72e4";
            }
            else {
                document.getElementById("ShowActivateReplyPost@{@item.reply_post_id}").style.color = 'orange';
            }
        }
        //comment
        $(document).ready(function () {
            $("#btnComment@{@item.reply_post_id}").click(function () {
                var checkContentInput = document.getElementById("contentReplyPost@{@item.reply_post_id}").value;
                if (checkContentInput.length < 2 || checkContentInput == '' || checkContentInput.length > 249) {
                alert("ít nhất 2 ký tự, nhỏ hơn 249 ký tự và không được để trống");
            }
            else
            {
                var noidung = $("#contentReplyPost@{@item.reply_post_id}").val();
                var tennguoidung = $("#user_nicename@{@item.reply_post_id}").val();
                var ngaytao = $("#date_created@{@item.reply_post_id}").val();
                var data = $("#formComment@{@item.reply_post_id}").serialize();
                $.ajax({
                    type: "POST",
                    url: "/CommentReplyPost/Comment",
                    data: data,
                    complete: function () {
                        $("#showComment@{@item.reply_post_id}").append(
                            '<div class="border-left border-bottom border-right row"><div class="col-md-9"><p>' + noidung + '</p></div><div class="col-md-3"><span class="float-right">' + tennguoidung + '<img src="~/Content/LayoutNguoiDung/ImgUser/Khong gian trang thái.png" class="w-50 h-50" /></span><p><i class="fas fa-clock"></i>' + ngaytao + '</p></div></div><br />'
                        )
                    },
                });
            }

            })
        })
        // kết bạn
        $(document).ready(function () {
            $("#btnAddFriend@{@item.reply_post_id}").click(function () {
                var data = $("#formAddFriend@{@item.reply_post_id}").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Friend/AddFriend",
                    data: data,
                    success: function (response) {
                        window.alert("Sữa thành công");
                        $(this).show();
                    }
                })
            })
        })
        //Gửi lời kết bạn
        function BtnChangeValueAddFriend@{@item.reply_post_id} ()
        {
            if (document.getElementById("btnAddFriend@{@item.reply_post_id}").innerHTML == "Kết bạn")
            {
                document.getElementById("btnAddFriend@{@item.reply_post_id}").innerText = 'Đã gửi kết bạn';
            }
            else
            {
                document.getElementById("btnAddFriend@{@item.reply_post_id}").innerText = 'Kết bạn';
            }
        }
    </script>
}