@model Five_P.Models.Friend

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Friend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.friend_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.friend_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.user_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.user_pass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.friend_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
