@model IEnumerable<Five_P.Models.Friend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<select class="form-control" id="them_ca_sy" multiple="multiple" name="MaCaSy" style="width: 99%" required>
    <option> value1</option>
    <option> value1</option>
    <option> value1</option>
    <option> value1</option>
</select>
<script>
    $("#them_ca_sy").select2({
        placeholder: 'Nhập ca sỹ (tối đa 3 ca sỹ)..',
        maximumSelectionLength: 3,
        allowClear: true
    });
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.friend_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.user_pass)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.friend_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.user_pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User1.user_pass)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.friend_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.friend_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.friend_id })
            </td>
        </tr>
    }

</table>
