@model IEnumerable<Five_P.Models.Show_Activate_Reply_Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.show_activate_reply_post_datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.show_activate_reply_post_readed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reply_Post.reply_post_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.show_activate_reply_post_datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.show_activate_reply_post_readed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reply_Post.reply_post_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_pass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.show_activate_reply_post_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.show_activate_reply_post_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.show_activate_reply_post_id })
        </td>
    </tr>
}

</table>
