@using Five_P.Models;
@model List<Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int intCount = 1;
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Bài viết ( @ViewBag.SumPost )</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th class="text-left">
                                Stt
                            </th>
                            <th class="text-left">
                                <i class="far fa-newspaper"></i> Tiêu đề
                            </th>
                            <th class="text-center">
                                <i class="fas fa-reply-all"></i> Trả lời
                            </th>
                            <th class="text-center">
                                <i class="far fa-eye"></i> Lượt xem
                            </th>
                            <th class="text-center">
                                <i class="fas fa-medal"></i> Nổi tiếng
                            </th>
                            <th class="text-center">
                                <i class="fas fa-magic"></i> Tùy chọn
                            </th>
                            </thead>
                            <tbody>
                                @foreach ( var item in Model)
                                {
                                    <tr>
                                        <td class="text-left">
                                            @intCount
                                        </td>
                                        <td class="text-left">
                                            @item.post_title
                                        </td>
                                        <td class="text-center">
                                            @item.post_sum_reply
                                        </td>
                                        <td class="text-center">
                                            @item.post_view
                                        </td>
                                        <td class="text-center">
                                            @item.post_popular
                                        </td>
                                        <td class="text-center">
                                            <i class="fas fa-user-edit"></i> |
                                            <a href="/Home/DetailQuestion?idpost=@item.post_id"><i class="far fa-eye"></i></a> |
                                            <i class="far fa-trash-alt"></i>
                                        </td>
                                    </tr>
                                    intCount++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

