@using Five_P.Models;
@model User
@{
    var ngaydang = String.Format("{0:yyyy-MM-dd}", Model.user_date_born);
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-backdrop {
        position: inherit;
    }
</style>
<style>
    .input-file-container {
        position: relative;
        width: 225px;
    }

    .js .input-file-trigger {
        display: block;
        padding: 14px 45px;
        background: #39D2B4;
        color: #fff;
        font-size: 1em;
        transition: all .4s;
        cursor: pointer;
    }

    .js .input-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 225px;
        opacity: 0;
        padding: 14px 0;
        cursor: pointer;
    }

        .js .input-file:hover + .input-file-trigger,
        .js .input-file:focus + .input-file-trigger,
        .js .input-file-trigger:hover,
        .js .input-file-trigger:focus {
            background: #34495E;
            color: #39D2B4;
        }

    .file-return {
        margin: 0;
    }

        .file-return:not(:empty) {
            margin: 1em 0;
        }

    .js .file-return {
        font-style: italic;
        font-size: .9em;
        font-weight: bold;
    }

        .js .file-return:not(:empty):before {
            content: "Selected file: ";
            font-style: normal;
            font-weight: normal;
        }






    /* Useless styles, just for demo styles */

    body {
        font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
        color: #7F8C9A;
        background: #FCFDFD;
    }

    h1, h2 {
        margin-bottom: 5px;
        font-weight: normal;
        text-align: center;
        color: #aaa;
    }

    h2 {
        margin: 5px 0 2em;
        color: #1ABC9C;
    }

    form {
        width: 225px;
        margin: 0 auto;
        text-align: center;
    }

    h2 + P {
        text-align: center;
    }

    .txtcenter {
        margin-top: 4em;
        font-size: .9em;
        text-align: center;
        color: #aaa;
    }

    .copy {
        margin-top: 2em;
    }

        .copy a {
            text-decoration: none;
            color: #1ABC9C;
        }
</style>
<section class="w3l-index-block2 py-5 mt--4">
    <div class="container py-md-3">
        <div class="row bottom_grids pt-md-3">
            <div class="col-lg-8 col-md-6 mt-5">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="ni ni-bell-55"></i></span>
                    <span class="alert-inner--text"><strong>Warning!</strong> This is a warning alert—check it out!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="s-block row ml-2" id="Post">
                    <div class="col-md-4" style="background-color:#f5f5f2">
                        <div class="container">
                            <div class="row">
                                <img src="~/Content/UI/img/faces/team-2.jpg" alt="Circle image" class="img-fluid rounded-circle shadow mt-2" style="width: 200px;">
                                <div class="input-file-container">
                                    <input class="input-file bg-default" id="fileImg" type="file">
                                    <label tabindex="0" for="my-file" class="input-file-trigger bg-default"><i class="fas fa-camera-retro"></i>&nbsp;&nbsp;&nbsp;Avata</label>
                                </div>
                                <div class="w-100 text-center">
                                    <i class="fab fa-jenkins" style="color:black"></i>&nbsp; @Model.user_nicename
                                </div>
                                <div class="w-100 text-center">
                                    <i class="fab fa-galactic-senate" style="color:orangered;font-size:65px"></i> 5
                                </div>
                                <div class="w-100 text-center">
                                    <i class="fas fa-medal" style="color:yellow; font-size:30px"></i> 5
                                </div>
                                <div class="w-100 text-center">
                                    <i class="fas fa-medal" style="color:silver; font-size:25px"></i> 5
                                </div>
                                <div class="w-100 text-center">
                                    <i class="fas fa-medal" style="color:#e88d15; font-size:20px"></i> 5
                                </div>
                                <div>
                                    <a href="@Url.Action("PostManagement","Post")" class="btn btn-default">Quản lý bài viết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="container" id="Post">
                            <div class="alert alert-secondary mt-2" role="alert" style="color:orangered">
                                Hoạt động của tôi ở các bài viết khác.
                            </div>
                            <div style="color:black">
                                <i class="far fa-credit-card"></i> &nbsp;[ Bài viết bạn đã quan tâm ]
                            </div>
                            <div class="">
                                Tổng đã trả lời của bạn : @ViewBag.CoutReplyPost
                            </div>
                            <div class="">
                                Tổng comment của bạn : @ViewBag.CoutMyComment
                            </div>
                            <br />
                            <div style="color:black">
                                <i class="fas fa-map-pin"></i> &nbsp;[ Bài viết đã đánh dấu ]
                            </div>
                            <div class="">
                                Tổng bài viết đã đánh dấu : @ViewBag.tickMyPost
                            </div>
                            <br />
                            <div style="color:black">
                                <i class="fab fa-accessible-icon"></i> &nbsp;[ Hoạt động bài viết đã đánh giấu ]
                            </div>
                            <div class="">
                                Bài viết đã đánh dấu hoạt động : @ViewBag.showActivatePost
                            </div>
                            <div class="">
                                Trả lời các bài viết đã đánh dấu hoạt động : @ViewBag.showActivateReplyPost
                            </div>
                            <hr />
                            <div class="alert alert-secondary" role="alert" style="color:orangered">
                                Hoạt động ở bài viết của tôi.
                            </div>
                            <div class="" style="color:black">
                                <i class="far fa-credit-card"></i> &nbsp;[ Bài viết của bạn ]
                            </div>
                            <div class="">
                                Tổng lượt xem bài viết : @ViewBag.coutViewPost
                            </div>
                            <div class="">
                                Tổng bài viết của bạn : @ViewBag.CoutMyPost
                            </div>
                            <div class="">
                                Tổng trả lời tất cả bài viết : @ViewBag.coutRepyMyPost
                            </div>
                            <div class="">
                                Bài viết được đánh giá : @ViewBag.ratePost
                            </div>
                            <div class="">
                                Bài viết có độ nổi tiếng < 10 : @ViewBag.postUnder10
                            </div>
                            <div class="">
                                Bài viết có độ nổi tiếng < 20 : @ViewBag.postUnder20
                            </div>
                            <div class="">
                                Bài viết có độ nổi tiếng > 40 : @ViewBag.postAbove40
                            </div>
                            <div class="">
                                Bài viết để xuất âm : @ViewBag.postUnder1
                            </div>
                            <div class="">
                                Bài viết trả lời nhiều nhất
                            </div>
                            <div class="">
                                Bài viết comment nhiều nhất
                            </div>
                            <br />
                            <div style="color:black">
                                <i class="far fa-comment-dots"></i> &nbsp;[ Bình luận ]
                            </div>
                            <div class="">
                                Tổng bình luận: @ViewBag.coutCommentMyPost
                            </div>
                            <br />
                            <div style="color:black">
                                <i class="far fa-caret-square-up"></i>&nbsp;[ Trả lời bài viết của bạn được đề xuất cao ]
                            </div>
                            <div class="">
                                được đề xuất < 10 : @ViewBag.replyMyPostUnder40
                            </div>
                            <div class="">
                                Được đề xuất < 20 : @ViewBag.replyMyPostUnder20
                            </div>
                            <div class="">
                                Được đề xuất < 40 : @ViewBag.replyMyPostUnder40
                            </div>
                            <div class="">
                                Được đề xuất > 70 : @ViewBag.replyMyPostAbove70
                            </div>
                            <br />
                            <div style="color:black">
                                <i class="far fa-caret-square-down"></i>&nbsp;[ Trả lời được đề xuất thấp ]
                            </div>
                            <div class="">
                                Tổng : @ViewBag.replyMyPostUnder1
                            </div>
                            <br />

                            <button class="btn btn-default w-100">Lịch sử</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <center><a href="@Url.Action("Post","Post")" class="btn btn-secondary">Đăng bài</a></center>
                    </div>
                    <div class="col-md-6 mb-4">
                        <center><button class="btn btn-secondary" data-toggle="modal" data-target="#modal-form">Mật khẩu</button></center>
                    </div>

                </div>
                <div class="s-block">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-10 mt-2">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="~/Content/UI/img/faces/team-2.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 70px;">
                                </div>
                                <div class="col-md-7">
                                    <a href="@Url.Action("","")" class="btn btn-default">Sữa thông tin</a>
                                </div>
                            </div>
                            <form>
                                <div class="row mt-2">
                                    <i class="fas fa-signature"></i>&nbsp; Tên : @Model.user_nicename
                                </div>
                                <div class="row">
                                    <i class="fas fa-envelope-open-text"></i>&nbsp; Email : @Model.user_email
                                </div>
                                <div class="row">
                                    <i class="fas fa-laptop-code"></i>&nbsp; Công nghệ : 
                                </div>
                                <div class="row">
                                    <i class="far fa-calendar-alt"></i>&nbsp; Ngày sinh: @Model.user_date_born
                                </div>
                                <hr />
                                <div class="row">
                                    <i class="fas fa-child"></i>&nbsp; Tổng bạn bè: ? bạn
                                </div>
                                <div class="row">
                                    <i class="fas fa-chess-king"></i>&nbsp; Độ nổi tiếng : 
                                </div>
                                <div class="row">
                                    <i class="fas fa-award"></i>&nbsp; Huy hiệu : 
                                </div>
                                <div class="row">
                                    <i class="fas fa-mobile-alt"></i>&nbsp; Số điện thoại : @Model.user_phone
                                </div>
                                <div class="row">
                                    <i class="fas fa-map-marked-alt"></i>&nbsp; Địa chỉ: @Model.user_address
                                </div>
                                <div class="row">
                                    <i class="fas fa-venus-mars"></i>&nbsp; gới tính : @Model.user_sex 
                                </div>
                                <div class="row">
                                    <i class="fab fa-facebook-f"></i>&nbsp; Link facebook: @Model.user_link_facebok
                                </div>
                                <div class="row">
                                    <i class="fab fa-github"></i>&nbsp; link github: @Model.user_link_github
                                </div>
                                <div class="row">
                                    <i class="fas fa-briefcase"></i>&nbsp; Sở thích công việc: @Model.user_hobby_work
                                </div>
                                <div class="row">
                                    <i class="far fa-grin-hearts"></i>&nbsp; Sở thích cá nhân: @Model.user_hobby
                                </div>
                                <br />
                            </form>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modals đổi mật khẩu-->
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary shadow border-0 mb-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <h3 style="color:black"><i class="fas fa-key"></i>Mật khẩu</h3>
                            </div>
                            <form role="form">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Nhập mật khẩu củ" type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Nhập mật khẩu mới" type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Nhập lại mật khẩu mới" type="password">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-warning my-4" data-dismiss="modal">Đổi mật khẩu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelector("html").classList.add('js');

        var fileInput = document.querySelector(".input-file"),
            button = document.querySelector(".input-file-trigger"),
            the_return = document.querySelector(".file-return");

        button.addEventListener("keydown", function (event) {
            if (event.keyCode == 13 || event.keyCode == 32) {
                fileInput.focus();
            }
        });
        button.addEventListener("click", function (event) {
            fileInput.focus();
            return false;
        });
        fileInput.addEventListener("change", function (event) {
            the_return.innerHTML = this.value;
        });
    </script>
</section>
