
@using Five_P.Models;
@model User
    @{ 
        User user = (User)Session["user"];
        ViewBag.Title = "UserPage";
        Layout = "~/Views/Shared/_Layout.cshtml";
        FivePEntities db = new FivePEntities();
    }
<div class="profile-page">
    <div class="wrapper">
        <section class="section-profile-cover section-shaped my-0">
            <!-- Circles background -->
            <img class="bg-image" src="/Content/UI/img/pages/mohamed.jpg" style="width: 100%;">
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <section class="section bg-secondary">
            <div class="container">
                <div class="card card-profile shadow mt--300">
                    <div class="px-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="javascript:;">
                                        <img src="~/Content/LayoutNguoiDung/ImgUser/@Model.user_img" class="rounded-circle" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                                <div class="card-profile-actions py-4 mt-lg-0">
                                    <a href="#" class="btn btn-sm btn-info mr-4">kết bạn</a>
                                    <a href="#" class="btn btn-sm btn-default float-right">nhắn tin</a>
                                </div>
                            </div>
                            <div class="col-lg-4 order-lg-1">
                                <div class="card-profile-stats d-flex justify-content-center">
                                    <div>
                                        @{ 
                                            List<Friend> listFriend = db.Friends.Where(n => n.user_id == Model.user_id).ToList();
                                            int intCoutFriend = listFriend.Count();

                                        }
                                        <span class="heading">@intCoutFriend</span>
                                        <span class="description">Bạn bè</span>
                                    </div>
                                    <div>
                                        <span class="heading">@Model.user_popular</span>
                                        <span class="description">Nổi tiếng</span>
                                    </div>
                                    <div>
                                        <span class="heading">89</span>
                                        <span class="description">Huy hiệu</span>
                                        <div><i class="fas fa-medal" style="color:yellow;font-size:35px"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <h3>@Model.user_nicename
                            <!--Các user yêu thích nhau-->
                            @if (user == null) 
                            {
                                <i class="fas fa-crown"></i>
                            } else {
                                Reviews_User reviewUser = db.Reviews_User.FirstOrDefault(n => n.user_id == user.user_id && n.reviews_id_user == Model.user_id);
                                if (reviewUser == null)
                                {
                                    <a href="#"><i class="fas fa-crown"></i></a>
                                }
                                else 
                                {
                                    <a href="#"><i class="fas fa-crown" style="color:red"></i> </a>
                                } 
                            }<span class="font-weight-light"></span></h3>
                            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Email : @Model.user_email</div>
                            <div class="h6 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i>Công nghệ : 
                                    <span> </span>
                            </div>
                        </div>
                        <div class="">
                            <div class="row justify-content-center">
                                <div class="">
                                    <!--thân-->
                                    <section class="w3l-index-block2 py-5">
                                        <div class="container py-md-0">
                                            <div class="row bottom_grids pt-md-0">
                                                <div class="col-lg-4 col-md-6 mt-5">
                                                    <div class="s-block">
                                                        <div class="list-group">
                                                            <h6 class="list-group-item list-group-item-action active " style="text-align:center">
                                                                <i class="far fa-address-card"></i> Giới thiệu
                                                            </h6>
                                                            <div class="mt-2">
                                                                <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i><i class="fas fa-phone"></i> Số điện thoại : @Model.user_phone</div>
                                                                <div class="h6 mt-2"><i class="ni business_briefcase-24 mr-2"></i><i class="fas fa-map-marker-alt"></i> Địa chỉ : @Model.user_address</div>
                                                                <div class="h6 mt-2">
                                                                <i class="ni business_briefcase-24 mr-2"></i>
                                                                <i class="fas fa-mars"></i> Giới tính : 
                                                                @if (Model.user_sex == 0) { 
                                                                    <span>Nam</span>
                                                                }else if(Model.user_sex == 1)
                                                                {
                                                                    <span>Nữ</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>EGPT</span>
                                                                }
                                                                </div>
                                                                <div class="h6 mt-2"><i class="ni business_briefcase-24 mr-2"></i><i class="fab fa-facebook-f"></i> Link facebook : @Model.user_link_facebok</div>
                                                                <div class="h6 mt-2"><i class="ni business_briefcase-24 mr-2"></i><i class="fab fa-github"></i> Link Github : @Model.user_link_github</div>
                                                                <div class="h6 mt-2"><i class="ni business_briefcase-24 mr-2"></i><i class="fas fa-briefcase"></i> Sở thích công việc : @Model.user_hobby_work</div>
                                                                <div class="h6 mt-2"><i class="ni business_briefcase-24 mr-2"></i><i class="fab fa-gratipay"></i> Sở thích cá nhân : @Model.user_hobby</div>
                                                                <div class="h6 mt-2"><i class="ni business_briefcase-24 mr-2"></i><i class="fas fa-calendar-alt"></i> Ngày sinh : @Model.user_date_born.Value.Day / @Model.user_datecreated.Value.Month / @Model.user_datecreated.Value.Year</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--///////////////////-->
                                                <div class="col-lg-8 col-md-6 mt-5">
                                                    <div class="s-block">
                                                        <div class="d-block p-lg-4 p-3">
                                                            <div class="">
                                                                <div class="row">
                                                                    <div class="blockquote-footer col-md-3">
                                                                        @{ 
                                                                            List<Post> listPost = db.Posts.Where(n => n.user_id == Model.user_id).ToList();
                                                                            int intCout = listPost.Count();
                                                                        }
                                                                        @intCout
                                                                        <cite title="Source Title">Câu hỏi ?</cite>
                                                                        </>
                                                                    </div>
                                                                    <div class="col-md-9 nav-item dropdown navbar">
                                                                        <button type="button" class="btn btn-sm btn-info btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Mới</button>
                                                                        <button type="button" class="btn btn-sm btn-success btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Chưa trả lời</button>
                                                                        <button type="button" class="btn btn-sm btn-danger btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Đánh giá cao</button>
                                                                        <button type="button" class="btn btn-sm btn-default btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">Lượt xem</button>
                                                                    </div>
                                                                </div>
                                                                @Html.Action("ShowAllPostOneUser", "Account", new { idUser = Model.user_id})
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!--thân-->
                                    <a href="javascript:;">Show more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        &copy; 2020 <a href="" target="_blank">Creative Tim</a>.
    </div>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&ev=PageView&noscript=1" />
    </noscript>
    <script>
        window.TrackJS &&
            TrackJS.install({
                token: "ee6fab19c5a04ac1a32a645abde4613a",
                application: "argon-design-system-pro"
            });
    </script>
</div>